global
    maxconn 200
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    retries 2
    timeout client  30m
    timeout connect 4s
    timeout server  30m
    timeout check   5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 10s
    stats show-legends
    stats show-node

listen postgres_write
    bind *:5000
    option httpchk GET /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg-node-1 172.20.0.11:5432 maxconn 100 check port 8008
    server pg-node-2 172.20.0.12:5432 maxconn 100 check port 8008
    server pg-node-3 172.20.0.13:5432 maxconn 100 check port 8008

listen postgres_read
    bind *:5001
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    balance roundrobin
    server pg-node-1 172.20.0.11:5432 maxconn 100 check port 8008
    server pg-node-2 172.20.0.12:5432 maxconn 100 check port 8008
    server pg-node-3 172.20.0.13:5432 maxconn 100 check port 8008
